<div class="row">	
	<div class="col-sm-4">
		<div class="trip_info">
					<div class= "trip_details">
						<div class="trip_detail">Trip Name: <%= @trip['name'] %> <br></div>
						<div class="trip_detail">Destination: <%= @trip['destination'] %> <br> </div>
						<div class="trip_detail">Description: <%= @trip['description'] %> <br> </div>

						<div class="trip_button">
						<%= link_to raw("<i>Edit</i>"), edit_trip_path(@trip['id']), class: "trip_edit btn-lg btn-info" %>
						<%= link_to raw("<i>Delete</i>"), trip_path(@trip['id']), class: "trip_delete btn-lg btn-danger", method: :delete %><br>
						</div>
					</div>
			

		<br>
				
					<% activities = [] %>
				<h4>Activities:</h4> <%= link_to raw("<em class=\"glyphicon glyphicon-plus\"> Add Activity </em>"), new_activity_path, class: " activitylink text big", method: :get %><br>
				<div class="activity-table">
					<div class="form-inline">
						<% @activity.each do |activity| %>
						<div class="activitylink grow-rotate">
							<div class="form-group-activity">
		
										<img class="actimg img-circle" src=<%= activity["thumbnail_photo"]%> />
									
							<%= link_to raw(activity['name']), "/trips/#{activity.trip.id}/activities/#{activity['id']}", class: "text" %><br>
								<% activities << activity['yid'] %>
						</div> <!--form group-->
					</div> <!-- activitylink-->
						<% end%>
						</div><!-- form inline-->
					</div> <!--activity-table-->

		</div>
	</div>



<!--Search Part  -->
	<div class="col-sm-8">
		<div class="yelp">
				<div class="search">
					<div class="searching">Search and add it to your list!</div>
						<div class="form-inline">
							
					<%= form_tag trip_path, :method => 'get' do %>
					<div class="form-group">
						<%= text_field_tag :search, params[:search], placeholder: "Enter search here", class: "form-control", required: ""  %>
					</div> <!--form-group-->
					<div class="form-group">
						<%= submit_tag "Search", class: "btn btn-primary" %>
					<%end %>
					</div> <!--form-group-->
					</div> <!--form-inline-->
				</div><!-- search -->


<!-- Search result stuff -->
<% if @result == "" %>

<%= render partial: "none"%>

<%else %>
		<div class="yelp_table">
		<% filtered = @result.delete_if{|y| activities.include?(y["id"])} %>
		<% filtered.each do |business| %>
				<div class="media">
					<div class="result-background">
						<div class="yelp result">
							<%= form_for :activity, method: :post, url: activities_path do |f| %>
								<div class="pull-left">
									<img class="media-object yelpimg img-circle" src=<%= business["image_url"]%> />
								Rating: <%= label_tag(:rating, business["rating"]*2)%> /10
								</div>
								<div class="media-body">
									<p><%= label_tag(:name, business["name"], class: "business_name") %></p> <br>
										<% business["location"]['display_address'].each do |address| %>
											<%= label_tag(:address, address) %> 
											<%= f.hidden_field :address, value: address %>
										<%end %>
								<br>
									<%= label_tag(:phone, business["display_phone"]) %> <br>
									<%=link_to "More Info", business["url"], :target => '_blank', class: "btn btn-default" %>
									<%= f.submit "Add Activity", class: "btn btn-info" %> 
									
	<!-- Hidden Field and Values! -->
									<%= f.hidden_field :thumbnail_photo, value: business["image_url"] %>
									<%= f.hidden_field :rating, value: business["rating"]*2 %>
									<%= f.hidden_field :name, value: business["name"] %>
									<%= f.hidden_field :phone, value: business["display_phone"] %>
									<%= f.hidden_field :biz_url, value: business['url'] %>
									<%= f.hidden_field :yid, value: business["id"] %>
								</div>
							<% end %>

						</div><!--yelp result-->
					</div> <!-- result-background-->
				</div> <!-- media-->
		<%end %>
	</div>
	</div>
</div>

<%end%>

	


	
