<div class="row">	
	<div class="col-sm-4">
		<div class="trip_info">
					<div class= "trip_details">
						Trip Name: <%= @trip['name'] %> <br>
						Destination: <%= @trip['destination'] %> <br>
						Description: <%= @trip['description'] %> <br>
						<div class="trip_button">
						<%= link_to raw("<i>Edit</i>"), edit_trip_path(@trip['id']), class: "trip_edit btn btn-info" %>
						<%= link_to raw("<i>Delete</i>"), trip_path(@trip['id']), class: "trip_delete btn btn-danger", method: :delete %><br>
						</div>
					</div>
			

		<br>

					<% activities = [] %>
					Activities:<br>
						<% @activity.each do |activity| %>
						<div class="display_activities">
							<%= link_to raw(activity['name']), "/trips/#{activity.trip.id}/activities/#{activity['id']}", class: "activity_button triplink big" %><br>
							<% activities << activity['yid'] %>
						</div>
						<% end%>

						<%= link_to raw("<em class=\"glyphicon glyphicon-plus\"> Add Activity </em>"), new_activity_path, class: "add_activity triplink big", method: :get %><br>

		</div>
	</div>
	<div class="col-sm-8">
		<div class="yelp">
				<div class="search">
					<div class="searching">Search for something local and add to your list!</div>
					<%= form_tag trip_path, :method => 'get' do %>
						<%= text_field_tag :search, params[:search], placeholder: "Enter search here", class:""  %>
						<%= submit_tag "Search", class: "search_button" %>
					<%end %>
				</div>
			
		<% filtered = @result.delete_if{|y| activities.include?(y["id"])} %>
		<% filtered.each do |business| %>
				<div class="media">
					<div class="yelp result">
						<%= form_for :activity, method: :post, url: activities_path do |f| %>
							<div class="pull-left">
								<img class="media-object yelpimg" src=<%= business["image_url"]%> />
							Rating: <%= label_tag(:rating, business["rating"]*2)%> /10
							<%= f.hidden_field :rating, value: business["rating"] %>
							</div>
							<div class="media-body">
								<%= f.hidden_field :thumbnail_photo, value: business["image_url"] %>
								<%= label_tag(:name, business["name"], class: "business_name") %> <br>
								<%= f.hidden_field :name, value: business["name"] %>
									<% business["location"]['display_address'].each do |address| %>
										<%= label_tag(:address, address) %> 
										<%= f.hidden_field :address, value: address %>
									<%end %>
							<br>
								<%= label_tag(:phone, business["display_phone"]) %> <br>
								<%= f.hidden_field :phone, value: business["display_phone"] %>
								<%=link_to "More Info", business["url"], :target => '_blank' %><br>
								<%= f.hidden_field :biz_url, value: business['url'] %>
								<%= f.hidden_field :yid, value: business["id"] %>
								<div class="activity_add_button"><%= f.submit "Add Activities" %> </div>
								
							</div>
						<% end %>
					</div>
				</div>
		<%end %>
	</div>
</div>



	


	
