<%= link_to "View All Trips", trips_path %>
<div class= "Trip Information">
	Trip Name: <%= @trip['name'] %> <br>
	Destination: <%= @trip['destination'] %> <br>
	Description: <%= @trip['description'] %> <br>
	<%= link_to "Edit", edit_trip_path(@trip['id']) %>
	<%= link_to "Delete", trip_path(@trip['id']), method: :delete%><br>
</div>

	Available Things to do in <%= @trip['destination'] %><br>

	<% @result.each do |business| %>
	<%= business["name"] %><br>
	<%end %>

	


	
