<div class="row">
    <div class="col-xs-2">
    </div>
            <%= form_for(@user) do |f| %>
              <% unless @user.errors.count == 0   %>
                <div class="alert alert-error">
                  The form contains <%= pluralize(@user.errors.count, "error") %>.
                </div>
                <ul>
                <% @user.errors.full_messages.each do |msg| %>
                  <li>* <%= msg %></li>
                <% end %>
                </ul>
            <% end %>
        <div class= "col-xs-8">
            <%= f.text_field :name, placeholder: "Name", class: "form-control"%> <br>
            <%= f.text_field :screen_name, placeholder: "Screen Name", class: "form-control"%> <br>
            <%= f.text_field :hometown, placeholder: "hometown (optional)", class: "form-control"%> <br>
            <%= f.text_field :email_address, placeholder: "Email Address", class: "form-control"%> <br>
            <%= f.password_field :password, placeholder: "Password", class: "form-control" %> <br>
            <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-control"  %> <br>
        
            <div class="create">
                <%= f.submit "Update my account", class: "btn btn-lg btn-primary" %>
                <% end %>
            </div>
        </div>
        <div class="col-xs-2">
        </div>

</div>

