<div class="row">
	<div class="col-xs-2">
	</div>
		<div class="col-xs-8">	

	<%= form_for :activity, method: :post, url: activities_path do |f| %>
		<%= f.text_field :name, placeholder: "Activity Name", class: "form-control", required: "" %><br>
		<%= f.text_field :address, placeholder: "Address", class: "form-control" %><br>
		<%= f.text_field :biz_url, placeholder: "URL or Reference Link", class: "form-control" %><br>
		<%= f.text_field :phone, placeholder: "Phone Number", class: "form-control" %><br>
		<%= f.text_field :thumbnail_photo, placeholder: "Image URL", class: "form-control" %><br>
		<% f.hidden_field :tripid, value: @trip.to_i %>
		<%= f.submit "Create Activity", class: "btn btn-lg btn-primary"%>
	<%end%>
		</div>
	<div class="col-xs-2">
	</div>

</div>