<nav class="navbar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="logo"><a class="navbar-brand shrink logo" href="/trips"> Locally</a></div>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if signed_in? %>
        <%= link_to "View All Trips", trips_path, class: 'navbar-brand shadow-radial shell' %>
        <%= link_to "My profile", current_user, class: 'navbar-brand shadow-radial shell' %>
        <%end%>
      </ul>
      <div class="navbar-form navbar-left">
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
          <div class="form-inline">
          
          <%= link_to "Sign out", signout_path, method: "delete", class: 'navbar-brand shadow-radial shell signoutright'%>
        </div>
        <% else %>
        <div class="form-inline">
          <div class="signin">
            <%= form_for(:session, url: sessions_path) do |f| %>
              <div class="form-group">
                <%= f.text_field :email_address, placeholder: "Email Address" %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, placeholder: "Password" %>
              </div>
                <%= f.submit "Sign in", class: "btn-xs btn-primary" %>
              <% end %>
          </div>
        </div>
        <% end %>
      </ul>
    </div>
  </div>
</nav>