<!DOCTYPE html>
<html>
<head>
  <title>LocallyApp</title>
  <link href='http://fonts.googleapis.com/css?family=Lemon' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <link href="css/hover-min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <%= render 'layouts/navigation' %>
</head>
<body>
<div class="container">
	 <div class="row">
      <div class="col-md-12 col-sm-12">
        <%flash.each do|key,value|%>
                <div class="alert alert-<%=key%>"> <%=value%> </div>
        <%end%>
<%= yield %>
</div>
</body>
</html>
